*{margin: 0; padding: 0;}

div#navbarSupportedContent {
     justify-content: end;
 }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
     width: 100%;
     height: 100%;
}

.top{
     width: 100%;
     height: 100%;
     background-image: url("assets/img/bg-masthead.jpg");
     background-position: center;
     background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
}

li.nav-item {
    padding-left: 16px;
    padding-right: 16px;
    font-size: 700;
    font-weight: bold;
}

ul.navbar-nav.mb-2.mb-lg-0.menutopright {
    font-family: "Merriweather Sans";
}
.masthead {
     color: white;
     padding-top: 10%;
}
hr.divider{
     border: solid 2px  #f4623a;
     width: 50px;
     height: 3px;
     margin:  auto;
     background-color:  #f4623a;
}
.masthead h1 {
     font-size: 2.5rem;
}

.sp {
     position: relative;

}
.sp .ten {
     position: absolute;
     z-index: 2;
     top: 0;
     left: 0;

     width: 100%;
     background-color: #f4623a;
     color: white;

     text-align: center;

}

.goi {
     position: absolute;
     top: 50%;
     height: 50px;
     width: 100%;
     margin-top: 25%;
     font-size: 30px;
     opacity: 0;
     transition: 0.5s;
}
.sp:hover .goi {
     opacity: 1;
}
.nd4 .col-sm-4{
     padding: 0;
}